{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<h1>About ReddKarma</h1>
		<p>ReddKarma is your ultimate Reddit Karma optimization platform.  Utilizing data collected over the span of 2006 to 2015, ReddKarma has the ultimate Reddit submission insights to help you garner as much Karma as possible.  What do we provide?</p>
		<ul>
			<li>Subreddit Ranking</li>
			<li>Subreddit Typing Analysis</li>
			<li>Hourly Karma breakdowns</li>
			<li>Day of Week Karma breakdown</li>
			<li>Relevancy Analysis</li>
			<li>Trend Analysis</li>
			<li>Micro-feature analysis, such as repost popularity, etc.</li>
		</ul>
		<p>With your efforts, and our analysis, you have greater potential to maximize your Reddit Karma than ever before.</p>
	</div>
</div>
<div class="alert alert-warning" role="alert"><h1>Hottest Subreddits</h1></div>
<table class="table table-hover">
	<tr><th>Subreddit</th><th>Rank</th><th>Hotness</th><th>Average Karma</th></tr>
	<tr><td>Example</td><td>Example</td><td>Example</td><td>Example</td></tr>
</table>
{% endblock %}