{% extends "base.html" %}

{% block title %}
/r/{{ subreddit }}
{% endblock %}

{% block head_includes %}
<script>var subreddit = '{{ subreddit }}';</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" charset="utf-8"></script>
<script src="/static/js/reddkarma.js"></script>
{% endblock %}

{% block content %}
<div class="panel panel-info analysis">
	<div class="panel-heading">
		<div class="panel-title"><h2>ReddKarma <a href="http://www.reddit.com/r/{{subreddit}}">/r/{{ subreddit }}</a> Analysis</h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="well">
			<h3>Average Total Karma per Post Creation Hour</h3>
			<canvas id="hourlyChart" width="800" height="350"></canvas>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>Total Karma</th>
			<td id="totalKarma"></td>
		</tr>
		<tr>
			<th>Average Karma</th>
			<td id="avgKarma"></td>
		</tr>
		<tr>
			<th>Top Submission Domains</th>
			<td>
				<table class="table table-condensed" id="submissionDomains">
					<tr>
						<th>Domain</th>
						<th>Total Karma</th>
						<th>Average Karma</th>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
{% endblock %}