div.logo {
	background: url('/static/img/reddkarma-logo.png');
	background-size: contain;
	width: 100%;
	height: 100%;
}

canvas#hourlyChart {
	margin: 0 auto;
}

div.panel-title {
	text-align: center;
}