header {
	padding-top: 5px;
	padding-bottom: 10px;
}

div.logo {
	background: url('/static/img/reddkarma-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 69.6px;
}

canvas#hourlyChart {
	margin: 0 auto;
}

div.panel-title {
	text-align: center;
}

div.analysis > div.panel-body > div.well {
	text-align: center;
}

div.top-navigation > div.row > div {
	margin-top: 23px;
	text-align: right;
}

div.top-navigation > div.row > div > button {
	margin-right: 20px;
}

div.top-navigation > div.row > div > h3 {
	margin-top: 5px;
}